{%- set now_registration -%}
	<h5 class="card-title text-center">
		<strong>
			{%- if language == 'language' or language == 'язык' -%}
				Без регистраци
			{%- endif -%}
		</strong>
	</h5>
	<div class="card-text text-center">
		{%- if language == 'language' or language == 'язык' -%}
			<p>
				Можно пользоваться как анонимный пользователь без необходимости регистрации, для подтвержденных пользователей доступна возможность получать уведомления, направлять отзывы и входить с разных устройств.
			</p>
		{%- endif -%}
	</div>
{%- endset -%}
{%- set now_freeware -%}
	<h5 class="card-title text-center">
		<strong>
			{%- if language == 'language' or language == 'язык' -%}
				Бесплатно
			{%- endif -%}
		</strong>
	</h5>
	<div class="card-text text-center">
		{%- if language == 'language' or language == 'язык' -%}
			<p>
				Можно пользоваться бесплатно и без ограничений всей имеющейся функциональностью, но ничто не мешает поддерживать проект денежными средствами, замечаниями или пожеланиями.
			</p>
		{%- endif -%}
	</div>
{%- endset -%}
{%- set now_cloud -%}
	<h5 class="card-title text-center">
		<strong>
			{%- if language == 'language' or language == 'язык' -%}
				Без скачивания
			{%- endif -%}
		</strong>
	</h5>
	<div class="card-text text-center">
		{%- if language == 'language' or language == 'язык' -%}
			<p>
				Можно пользоваться без ограничений с любых устройств без необходимости скачивания и установки, с возможностью создания тестов для подтвержденных пользователей.
			</p>
		{%- endif -%}
	</div>
{%- endset -%}
<div class="card mb-3 bg-transparent" style="border: 0;">
	<div class="row no-gutters">
		<div class="col-12">
			<div class="card-body pb-0">
				<h5 class="card-title text-center">
					<strong>
						{%- if language == 'language' or language == 'язык' -%}
							Начните пользоваться сейчас
						{%- endif -%}
					</strong>
				</h5>
			</div>
		</div>
		<div class="offset-2 col-8 offset-sm-0 col-sm-4">
			<img src="{{ url_for('static', filename='register.png') }}" class="p-5 card-img">
		</div>
		<div class="col-sm-4 d-block d-sm-none">
			<div class="card-body">
				{{ now_registration }}
			</div>
		</div>
		<div class="offset-2 col-8 offset-sm-0 col-sm-4">
			<img src="{{ url_for('static', filename='freeware.png') }}" class="p-5 card-img">
		</div>
		<div class="col-sm-4 d-block d-sm-none">
			<div class="card-body">
				{{ now_freeware }}
			</div>
		</div>
		<div class="offset-2 col-8 offset-sm-0 col-sm-4">
			<img src="{{ url_for('static', filename='cloud.png') }}" class="p-5 card-img">
		</div>
		<div class="col-sm-4 d-block d-sm-none">
			<div class="card-body">
				{{ now_cloud }}
			</div>
		</div>
		<div class="col-sm-4 d-none d-sm-block">
			<div class="card-body">
				{{ now_registration }}
			</div>
		</div>
		<div class="col-sm-4 d-none d-sm-block">
			<div class="card-body">
				{{ now_freeware }}
			</div>
		</div>
		<div class="col-sm-4 d-none d-sm-block">
			<div class="card-body">
				{{ now_cloud }}
			</div>
		</div>
	</div>
</div>
