<div class="card mb-3 bg-transparent" style="border: 0;">
	<div class="row no-gutters">
		<div class="col-12">
			<div class="card-body pb-0">
				<h5 class="card-title text-center">
					<strong>
						{%- if language == 'language' or language == 'язык' -%}
							Получите подтверждение
						{%- endif -%}
					</strong>
				</h5>
			</div>
		</div>
		<div class="col-12 col-sm-5 text-center">
			<strong class="align-middle">Анонимный пользователь</strong>
		</div>
		<div class="col-12 col-sm-2 text-center">
			<strong class="align-middle"><i>VS</i></strong>
		</div>
		<div class="col-12 col-sm-5 text-center">
			<strong class="align-middle">Подтвержденный пользователь</strong>
		</div>

		<div class="col-sm-3 d-none d-sm-block">
			<img src="{{ url_for('static', filename='est_w.png') }}" class="img-middle" width="35" height="35" style="left: 0; right: 0;">
		</div>
		<div class="col-12 col-sm-6 mt-4">
			<div class="card-body">
				<div class="card-text text-center">
					{%- if language == 'language' or language == 'язык' -%}
						<p>
							Просмотр списка тестов, тестирование и просмотр результатов тестирования
						</p>
					{%- endif -%}
				</div>
			</div>
		</div>
		<div class="col-6 d-block d-sm-none">
			<img src="{{ url_for('static', filename='est_w.png') }}" class="img-middle" width="35" height="35" style="left: 0; right: 0;">
		</div>
		<div class="col-6 col-sm-3">
			<img src="{{ url_for('static', filename='est_w.png') }}" class="img-middle" width="35" height="35" style="left: 0; right: 0;">
		</div>
		
		<div class="col-sm-3 d-none d-sm-block">
			<img src="{{ url_for('static', filename='est_w.png') }}" class="img-middle" width="35" height="35" style="left: 0; right: 0;">
		</div>
		<div class="col-12 col-sm-6 mt-4">
			<div class="card-body">
				<div class="card-text text-center">
					{%- if language == 'language' or language == 'язык' -%}
						<p>
							Просмотр диаграмм успеваемости по результатам тестирования за последние 7 дней
						</p>
					{%- endif -%}
				</div>
			</div>
		</div>
		<div class="col-6 d-block d-sm-none">
			<img src="{{ url_for('static', filename='est_w.png') }}" class="img-middle" width="35" height="35" style="left: 0; right: 0;">
		</div>
		<div class="col-6 col-sm-3">
			<img src="{{ url_for('static', filename='est_w.png') }}" class="img-middle" width="35" height="35" style="left: 0; right: 0;">
		</div>

		<div class="col-sm-3 d-none d-sm-block">
			<img src="{{ url_for('static', filename='box.png') }}" class="img-middle" width="35" height="35" style="left: 0; right: 0;">
		</div>
		<div class="col-12 col-sm-6 mt-4">
			<div class="card-body">
				<div class="card-text text-center">
					{%- if language == 'language' or language == 'язык' -%}
						<p>
							Создание собственных тестов на основе имеющихся плагинов
						</p>
					{%- endif -%}
				</div>
			</div>
		</div>
		<div class="col-6 d-block d-sm-none">
			<img src="{{ url_for('static', filename='box.png') }}" class="img-middle" width="35" height="35" style="left: 0; right: 0;">
		</div>
		<div class="col-6 col-sm-3">
			<img src="{{ url_for('static', filename='est_w.png') }}" class="img-middle" width="35" height="35" style="left: 0; right: 0;">
		</div>

		<div class="col-sm-3 d-none d-sm-block">
			<img src="{{ url_for('static', filename='box.png') }}" class="img-middle" width="35" height="35" style="left: 0; right: 0;">
		</div>
		<div class="col-12 col-sm-6 mt-4">
			<div class="card-body">
				<div class="card-text text-center">
					{%- if language == 'language' or language == 'язык' -%}
						<p>
							Получение уведомлений, в том числе с результатами тестирования
						</p>
					{%- endif -%}
				</div>
			</div>
		</div>
		<div class="col-6 d-block d-sm-none">
			<img src="{{ url_for('static', filename='box.png') }}" class="img-middle" width="35" height="35" style="left: 0; right: 0;">
		</div>
		<div class="col-6 col-sm-3">
			<img src="{{ url_for('static', filename='est_w.png') }}" class="img-middle" width="35" height="35" style="left: 0; right: 0;">
		</div>

		<div class="col-sm-3 d-none d-sm-block">
			<img src="{{ url_for('static', filename='box.png') }}" class="img-middle" width="35" height="35" style="left: 0; right: 0;">
		</div>
		<div class="col-12 col-sm-6 mt-4">
			<div class="card-body">
				<div class="card-text text-center">
					{%- if language == 'language' or language == 'язык' -%}
						<p>
							Привязка доступа с разных устройств к одному подтвержденному пользователю
						</p>
					{%- endif -%}
				</div>
			</div>
		</div>
		<div class="col-6 d-block d-sm-none">
			<img src="{{ url_for('static', filename='box.png') }}" class="img-middle" width="35" height="35" style="left: 0; right: 0;">
		</div>
		<div class="col-6 col-sm-3">
			<img src="{{ url_for('static', filename='est_w.png') }}" class="img-middle" width="35" height="35" style="left: 0; right: 0;">
		</div>

	</div>
</div>
