{%- extends "layout_list.html" -%}
{% set title -%}{{ __('Catalog') }}{%- endset %}
{%- block style -%}
	<style>
  	@media (max-width: 768px) {
			.card-columns {
	  	  column-count: 1;
	    }
	  }
	</style>
{%- endblock -%}
{%- block filter -%}
	<form method="post" actions="">
		{{ filter.csrf_token }}
		<div class="form-row">
			<div class="col-12 col-md-4 mb-2">
				<small>{{ __('Name') }}</small>
				<input type="text" class="form-control form-control-sm" id="{{ filter.name.label.text }}" name="{{ filter.name.label.text }}" placeholder="{{ __('Name') }}" value="{{ filter.name.data|default('', True) }}" />	
			</div>
			<div class="col-12 col-md-4 mb-2">
				<small>{{ __('Plugin') }}</small>
				<input type="text" class="form-control form-control-sm" id="{{ filter.plugin.label.text }}" name="{{ filter.plugin.label.text }}" placeholder="{{ __('Plugin') }}" value="{{ filter.plugin.data|default('', True) }}" />
			</div>
			<div class="col-12 col-md-2 mb-2">
				<small>{{ __('Author') }}</small>
				<div class="custom-control custom-checkbox mr-sm-2">
					<input type="checkbox" class="custom-control-input" id="{{ filter.hide_global.label.text }}" name="{{ filter.hide_global.label.text }}" {%- if (filter.hide_global.data == 'true' or filter.hide_global.data == 'True') or filter.hide_global.data == 'on' or filter.hide_global.data is true -%}checked{%- endif -%}>
					<label class="custom-control-label" for="{{ filter.hide_global.label.text }}" style="font-size: smaller; padding-top: 2px; margin-top: 3px;">{{ __('Hide Global Tests') }}</label>
				</div>
			</div>
			<div class="col-12 col-md-2 my-2">
				<div class="form-row">
					<div class="mb-2 col-6 col-md-12">
						<input type="submit" class="btn btn-sm btn-block btn-outline-dark" name="{{ filter.submit.label.text }}" id="{{ filter.submit.label.text }}" value="{{ __('Apply') }}" />
					</div>
					<div class="mb-2 col-6 col-md-12">
						<a href="{{ url_for('test.get_catalog', filterReset='true') }}" class="btn btn-sm btn-block btn-outline-dark">{{ __('Reset') }}</a>
					</div>
				</div>
			</div>
		</div>
	</form>
{%- endblock -%}
{%- if current_user.is_authenticated or True -%}
	{% set create_link -%}{{ '#' }}{%- endset %}
	{%- block creator -%}
		<form method="post" actions="" class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
			{{ creator.csrf_token }}
			<div class="form-row">
				<div class="col-12 mb-2">
					<small>{{ __('Plugin') }}</small>
					<select class="custom-select" name="{{ creator.plugin.label.text }}" id="{{ creator.plugin.label.text }}" style="height: 1.9rem; font-size: 0.9rem;">
						<option value="" selected>{{ __('Select Plugin') }}</option>
						{%- for choice in creator.plugin.choices -%}
							<option value="{{ choice[0] }}"{%- if creator.plugin.data == choice[0] -%}{{ ' selected' }}{%- endif -%}>{{ choice[1] }}</option>
						{%- endfor -%}
					</select>
				</div>
				<div class="col-12 my-2">
					<input type="submit" class="btn btn-sm btn-block btn-outline-dark" name="{{ creator.submit.label.text }}" id="{{ creator.submit.label.text }}" value="{{ __('Create') }}" />
				</div>
			</div>
		</form>
	{%- endblock -%}
{%- endif -%}
{%- block list_content -%}
	<div class="card-columns">
		{%- for test in tests -%}
			<div class="card p-2 shadow-sm mb-3 rounded text-center">
				<blockquote class="blockquote mb-0 card-body">
					<div class="d-flex w-100 justify-content-between">
						<small class="text-muted">{{ test.plugin_name }}</small>
						<small>
							<a class="text-muted p-1" href="{{ url_for('test.update', uid=test.uid) }}"><span class="oi oi-pencil"></span></a>
							<a class="text-muted p-1" href="#" data-toggle="collapse" data-target="#collapse-{{ test.uid }}" aria-expanded="true" aria-controls="collapse-{{ test.uid }}"><span class="oi oi-x"></span></a>
						</small>
					</div>
					<div class="collapse mt-2 shadow-sm" id="collapse-{{ test.uid }}">
						<div class="alert alert-danger text-center p-3" role="alert">
							<p><small>{{ __('Do you really want to delete test from catalog?') }}</small></p>
							<a class="btn btn-sm btn-outline-danger" href="{{ url_for('test.delete', uid=test.uid) }}">{{ __('Delete') }}</a>
							<a class="btn btn-sm btn-outline-dark" href="#" data-toggle="collapse" data-target="#collapse-{{ test.uid }}" aria-expanded="true" aria-controls="collapse-{{ test.uid }}">{{ __('Cancel') }}</a>
						</div>
					</div>
					<h4 class="card-title p-4"><strong>{{ test.name }}</strong></h4>
					<a href="#" class="btn btn-outline-dark w-50">{{ __('Start') }}</a>
				</blockquote>
			</div>
		{% endfor %}
		<div class="card p-2 shadow-sm mb-3 rounded text-center">
			<blockquote class="blockquote mb-0 card-body">
				<p class="card-text">{{ __('You can create your own test based on installed plugins') }}</p>
				<a href="#" class="btn btn-outline-dark m-1 pl-4 pr-4">{{ __('Create') }}</a>
				<a href="#" class="btn btn-outline-dark m-1 pl-4 pr-4">{{ __('Show more') }}</a>
			</blockquote>
		</div>
	</div>
{%- endblock -%}
