{%- extends "layout_list.html" -%}
{% set title -%}{{ __('Catalog') }}{%- endset %}
{%- block style -%}
	<style>
  	@media (max-width: 768px) {
			.card-columns {
	  	  column-count: 1;
	    }
	  }
	</style>
{%- endblock -%}
{%- block filter -%}
	<form method="post" actions="">
		{{ filter.csrf_token }}
		<div class="form-row">
			<div class="col-12 col-md-4 mb-2">
				<small>{{ __('Name') }}</small>
				<input type="text" class="form-control form-control-sm" id="filterName" name="filterName" placeholder="{{ __('Name') }}" value="{{ filter.filter_name.data|default('', True) }}" />	
			</div>
			<div class="col-12 col-md-4 mb-2">
				<small>{{ __('Plugin') }}</small>
				<input type="text" class="form-control form-control-sm" id="filterPlugin" name="filterPlugin" placeholder="{{ __('Plugin') }}" value="{{ filter.filter_plugin.data|default('', True) }}" />
			</div>
			<div class="col-12 col-md-2 mb-2">
				<small>{{ __('Author') }}</small>
				<div class="custom-control custom-checkbox mr-sm-2">
					<input type="checkbox" class="custom-control-input" id="filterHideGlobal" name="filterHideGlobal" {%- if (filter.filter_hide_global.data == 'true' or filter.filter_hide_global.data == 'True') or filter.filter_hide_global.data is true -%}checked{%- endif -%}>
					<label class="custom-control-label" for="filterHideGlobal" style="font-size: smaller; padding-top: 2px; margin-top: 3px;">Hide Global Tests</label>
				</div>
			</div>
			<div class="col-12 col-md-2 my-2">
				<div class="form-row">
					<div class="mb-2 col-6 col-md-12">
						<button type="submit" class="btn btn-sm btn-block btn-outline-dark">{{ __('Apply') }}</button>
					</div>
					<div class="mb-2 col-6 col-md-12">
						<a href="#" class="btn btn-sm btn-block btn-outline-dark">{{ __('Reset') }}</a>
					</div>
				</div>
			</div>
		</div>
	</form>
{%- endblock -%}
{%- block list_content -%}
	<div class="card-columns">
		<div class="card p-2 shadow-sm mb-3 rounded text-center">
			<blockquote class="blockquote mb-0 card-body">
				<div class="d-flex w-100 justify-content-between">
					<small class="text-muted">{{ 'Ariphmetic' }}</small>
					<small>
						<a class="text-muted p-1" href="#"><span class="oi oi-pencil"></span></a>
						<a class="text-muted p-1" href="#" data-toggle="collapse" data-target="#collapse-UID" aria-expanded="true" aria-controls="collapse-UID"><span class="oi oi-x"></span></a>
					</small>
				</div>
				<div class="collapse" id="collape-UID">
					<div class="alert alert-danger" role="alert">
						
					</div>
				</div>
				<h4 class="card-title p-4"><strong>{{ 'My own test' }}</strong></h4>
				<a href="#" class="btn btn-outline-dark w-50">{{ __('Start') }}</a>
			</blockquote>
		</div>
		<div class="card p-2 shadow-sm mb-3 rounded text-center">
			<blockquote class="blockquote mb-0 card-body">
				<p class="fs-6 fst-italic card-text">{{ __('You also can add your own test based on installed plugins') }}</p>
				<a href="#" class="btn btn-outline-dark m-1 pl-4 pr-4">{{ __('Add test') }}</a>
				<a href="#" class="btn btn-outline-dark m-1 pl-4 pr-4">{{ __('Show more') }}</a>
			</blockquote>
		</div>
	</div>
{%- endblock -%}
