{%- extends "layout_inner.html" -%}
{%- if type == 'create' -%}
	{% set title -%}{{ __('Create Test') }}{%- endset %}
{%- elif type == 'update' -%}
	{% set title -%}{{ __('Update Test') }}{%- endset %}
{%- endif -%}
{%- block body_content -%}
	<div class="row">
		<div class="col-12 col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
			<div class="card p-2 shadow-sm mb-3 rounded">
				<blockquote class="blockquote mb-0 card-body">
					<form method="post" actions="">
						{{ editor.csrf_token }}
						<div class="form-row">
							<div class="col-12">
								<small>{{ __('Name') }}</small>
								<input autofocus type="text" class="form-control{%- if editor.name.error -%}{{ ' is-invalid' }}{%- endif -%}" id="{{ editor.name.label.text }}" name="{{ editor.name.label.text }}" placeholder="{{ __('Name') }}" value="{{ editor.name.data|default('', True) }}" />	
								{%- for error in editor.name.errors -%}
									<div class="invalid-feedback">
										{{ __(error) }}
									</div>
								{%- endfor -%}
							</div>
							{%- for option in editor.options.get_items() -%}
								<div class="col-12">
									<small>{{ __(option.description) }}</small>
									<select class="custom-select" name="{{ option.label.text }}">
										<option{%- if option.data == '' -%}{{ ' selected' }}{%- endif -%}>{{ __('Choose') }}</option>
										{%- for choice in option.choices -%}
											<option value="{{ choice[0] }}"{%- if option.data == choice[0] -%}{{ ' selected' }}{%- endif -%}>{{ __(choice[1]) }}</option>
										{%- endfor -%}
									</select>		
								</div>
							{%- endfor -%}
							<div class="col-12">
								<small>{{ __('Answer Count') }}</small>
								<select class="custom-select{%- if editor.answer_count.erros -%}{{ ' is-invalid' }}{%- endif -%}" id="{{ editor.answer_count.label.text }}" name="{{ editor.answer_count.label.text }}">
									<option{%- if editor.answer_count.data == '' -%}{{ ' selected' }}{%- endif -%}>{{ __('Choose..') }}</option>
									{%- for choice in editor.answer_count.choices -%}
										<option value="{{ choice[0] }}"{%- if editor.answer_count.data == choice[0] -%}{{ ' selected' }}{%- endif -%}>{{ __(choice[1]) }}</option>
									{%- endfor -%}
								</select>
								{%- for error in editor.answer_count.errors -%}
									<div class="invalid-feedback">
										{{ __(error) }}
									</div>
								{%- endfor -%}
							</div>
							<div class="col-12">
								<small>{{ __('Limit Time') }}</small>
								<select class="custom-select{%- if editor.limit_time.erros -%}{{ ' is-invalid' }}{%- endif -%}" id="{{ editor.limit_time.label.text }}" name="{{ editor.limit_time.label.text }}">
									<option{%- if editor.limit_time.data == '' -%}{{ ' selected' }}{%- endif -%}>{{ __('Choose') }}</option>
									{%- for choice in editor.limit_time.choices -%}
										<option value="{{ choice[0] }}"{%- if editor.limit_time.data == choice[0] -%}{{ ' selected' }}{%- endif -%}>{{ __(choice[1]) }}</option>
									{%- endfor -%}
								</select>
								{%- for error in editor.limit_time.errors -%}
									<div class="invalid-feedback">
										{{ __(error) }}
									</div>
								{%- endfor -%}
							</div>
							<div class="col-12 my-2">
								<button type="submit" class="mt-2 btn btn-block btn-outline-dark">{{ __('Save') }}</button>
								<a href="{{ url_for('test.get_catalog') }}" class="btn btn-block btn-outline-dark">{{ __('Cancel') }}</a>
							</div>
						</div>
					</form>
				</blockquote>
			</div>
		</div>
	</div>
{%- endblock -%}
