
{%- extends "layout_inner.html" -%}
{% set title -%}{{ __('Ratings') }}{%- endset %}
{%- block body_content -%}
	<div class="row" style="font-size: large;">
		<div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
			<ul class="nav nav-tabs">
				{%- if periods -%}
					<li class="nav-item dropdown">
						<a class="nav-link text-muted dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ __('Top 10') + ': ' + __(current_period) }}</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="{{ url_for('rating.get_top', period='all-days', extension=current_extension) }}" timezone="local">{%- if current_period == 'all-days' -%}<span class="small oi oi-check mr-2"></span>{%- endif -%}{{ __('all-days') }}</a></li>
							<li><hr class="dropdown-divider"></li>
							{%- for period in periods -%}
								<li><a class="dropdown-item" href="{{ url_for('rating.get_top', period=period, extension=current_extension) }}">{%- if current_period == period -%}<span class="small oi oi-check mr-2"></span>{%- endif -%}{{ __(period) }}</a></li>
							{%- endfor -%}
						</ul>
					</li>
				{%- else -%}
					<li class="nav-item">
						<a class="nav-link text-muted" aria-current="page" href="{{ url_for('rating.get_top', period='all-days', extension=current_extension) }}">{{ __('Top 10') }}</a>
					</li>
				{%- endif -%}
				{%- if criterias -%}
					<li class="nav-item dropdown">
						<a class="nav-link text-muted dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ __('Personal') + ': ' + __(current_criteria) }}</a>
						<ul class="dropdown-menu">
							{%- for criteria in criterias -%}
								<li><a class="dropdown-item" href="{{ url_for('rating.get_chart', extension=current_extension, criteria=criteria) }}">{%- if current_criteria == criteria -%}<span class="small oi oi-check mr-2"></span>{%- endif -%}{{ __(criteria) }}</a></li>
							{%- endfor -%}
						</ul>
					</li>
				{%- else -%}
					<li class="nav-item">
						<a class="nav-link text-muted" aria-current="page" href="{{ url_for('rating.get_chart', extension=current_extension, criteria='crammers') }}">{{ __('Personal') }}</a>
					</li>
				{%- endif -%}
				<li class="nav-item dropdown" style="margin: 0 0 0 auto;">
					<a class="nav-link text-muted dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ __('Extension') + ': ' + __(current_extension) }}</a>
					<ul class="dropdown-menu">
						{%- if endpoint == 'rating.get_top' -%}
							{%- set endpoint_url = url_for(endpoint, period=current_period, extension='all-extensions') -%}
						{%- else -%}
							{%- set endpoint_url = url_for(endpoint, extension='all-extensions', criteria=current_criteria) -%}
						{%- endif -%}
						<li><a class="dropdown-item" href="{{ endpoint_url }}">{%- if current_extension == 'all-extensions' -%}<span class="small oi oi-check mr-2"></span>{%- endif -%}{{ __('all-extensions') }}</a></li>
						<li><hr class="dropdown-divider"></li>
						{%- for extension in extensions -%}
							{%- if endpoint == 'rating.get_top' -%}
								{%- set endpoint_url = url_for(endpoint, period=current_period, extension=extension) -%}
							{%- else -%}
								{%- set endpoint_url = url_for(endpoint, extension=extension, criteria=current_criteria) -%}
							{%- endif -%}
							<li><a class="dropdown-item" href="{{ endpoint_url }}">{%- if current_extension == extension -%}<span class="small oi oi-check mr-2"></span>{%- endif -%}{{ __(extension) }}</a></li>
						{%- endfor -%}
					</ul>
				</li>
			</ul>
			{%- block rating_content -%}
			{%- endblock rating_content -%}
		</div>
	</div>


	<!-- {%- for item in all -%}
		<p>{{ item }}</p>
	{%- endfor -%}


	<div class="offcanvas offcanvas-bottom show" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body small">
			...
		</div>
	</div> -->

	{%- endblock body_content -%}
