{%- extends "layout_content.html" -%}
{%- set title -%}{{ __('Ratings') }}{%- endset -%}
{%- block content -%}
	<div class="w-100">
		<div class="card shadow px-3 py-2 bg-gradient-yellow">
			<div class="d-flex w-100 align-items-center">
				<h5 class="flex-grow-1 my-2 mr-2 py-1">{{ title }}<div class="small">{{ __(subtitle) }}</div></h5>
				<div class="d-inline-block text-end">
					{%- if subtitle == 'top 10' -%}
						<div id="periodGroup" class="d-inline-block text-center my-1">
							<div class="collapse show" id="collapse-period" data-parent="#periodGroup">
								<a class="btn btn-sm btn-styled btn-styled-light mx-1" href="#" data-toggle="collapse" data-target="#collapse-period-links" aria-expanded="true" aria-controls="collapse-period-links">
									<span class="oi oi-calendar"></span>
									<div class="d-inline ml-1">{{ __('Period' + ':') }}</div>
									<div class="d-inline ml-1">{{ __(current_period) }}</div>
								</a>
							</div>
							<div class="collapse collapse-frame" id="collapse-period-links" data-parent="#periodGroup">
								<div>
									<div class="m-2">{{ __('Period') + ':' }}</div>
									{%- for period in periods -%}
										<a class="btn btn-sm btn-styled btn-styled-light m-1" href="{{ url_for('rating.get_top', period=period, extension=current_extension) }}"><span class="oi oi-calendar"></span><div class="d-inline ml-1">{{ __(period) }}</div></a>
									{%- endfor -%}
									<a class="btn btn-sm btn-styled btn-styled-light" href="#" data-toggle="collapse" data-target="#collapse-period" aria-expanded="true" aria-controls="collapse-period"><span class="oi oi-x"></span><div class="d-none d-sm-inline ml-1">{{ __('Close') }}</div></a>
								</div>
							</div>
						</div>
					{%- endif -%}
					{%- if subtitle == 'personal' -%}
						<div id="criteriaGroup" class="d-inline-block text-center my-1">
							<div class="collapse show" id="collapse-criteria" data-parent="#criteriaGroup">
								<a class="btn btn-sm btn-styled btn-styled-light mx-1" href="#" data-toggle="collapse" data-target="#collapse-criteria-links" aria-expanded="true" aria-controls="collapse-criteria-links">
									<span class="oi oi-calendar"></span>
									<div class="d-inline ml-1">{{ __('Criteria' + ':') }}</div>
									<div class="d-inline ml-1">{{ __(current_criteria) }}</div>
								</a>
							</div>
							<div class="collapse collapse-frame" id="collapse-criteria-links" data-parent="#criteriaGroup">
								<div>
									<div class="m-2">{{ __('Criteria') + ':' }}</div>
									{%- for criteria in criterias -%}
										<a class="btn btn-sm btn-styled btn-styled-light m-1" href="{{ url_for('rating.get_chart', extension=current_extension, criteria=criteria) }}"><span class="oi oi-calendar"></span><div class="d-inline ml-1">{{ __(criteria) }}</div></a>
									{%- endfor -%}
									<a class="btn btn-sm btn-styled btn-styled-light" href="#" data-toggle="collapse" data-target="#collapse-criteria" aria-expanded="true" aria-controls="collapse-criteria"><span class="oi oi-x"></span><div class="d-none d-sm-inline ml-1">{{ __('Close') }}</div></a>
								</div>
							</div>
						</div>
					{%- endif -%}
					<div id="extensionGroup" class="d-inline-block text-center my-1">
						<div class="collapse show" id="collapse-extension" data-parent="#extensionGroup">
							<a class="btn btn-sm btn-styled btn-styled-light mx-1" href="#" data-toggle="collapse" data-target="#collapse-extension-links" aria-expanded="true" aria-controls="collapse-extension-links">
								<span class="oi oi-box"></span>
								<div class="d-inline ml-1">{{ __('Extension' + ':') }}</div>
								<div class="d-inline ml-1">{{ __(current_extension) }}</div>
							</a>
						</div>
						<div class="collapse collapse-frame" id="collapse-extension-links" data-parent="#extensionGroup">
							<div>
								<div class="m-2">{{ __('Extension') + ':' }}</div>
								{%- for extension in extensions -%}
									{%- if subtitle == 'top 10' -%}
										<a class="btn btn-sm btn-styled btn-styled-light m-1" href="{{ url_for('rating.get_top', period=current_period, extension=extension) }}"><span class="oi oi-box"></span><div class="d-inline ml-1">{{ __(extension) }}</div></a>
									{%- elif subtitle == 'personal' -%}
										<a class="btn btn-sm btn-styled btn-styled-light m-1" href="{{ url_for('rating.get_chart', extension=extension, criteria=current_criteria) }}"><span class="oi oi-box"></span><div class="d-inline ml-1">{{ __(extension) }}</div></a>
									{%- endif -%}
								{%- endfor -%}
								<a class="btn btn-sm btn-styled btn-styled-light" href="#" data-toggle="collapse" data-target="#collapse-extension" aria-expanded="true" aria-controls="collapse-extension"><span class="oi oi-x"></span><div class="d-none d-sm-inline ml-1">{{ __('Close') }}</div></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{%- block ratings_content -%}
		{%- endblock ratings_content -%}
	</div>
{%- endblock content -%}





{%- block body_content -%}
	<div class="row" style="font-size: large;">
		<div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
			<ul class="nav nav-tabs">
				{%- if periods -%}
					<li class="nav-item dropdown">
						<a class="nav-link text-muted dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ __('Top 10') + ': ' + __(current_period) }}</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="{{ url_for('rating.get_top', period='all-days', extension=current_extension) }}" timezone="local">{%- if current_period == 'all-days' -%}<span class="small oi oi-check mr-2"></span>{%- endif -%}{{ __('all-days') }}</a></li>
							<li><hr class="dropdown-divider"></li>
							{%- for period in periods -%}
								<li><a class="dropdown-item" href="{{ url_for('rating.get_top', period=period, extension=current_extension) }}">{%- if current_period == period -%}<span class="small oi oi-check mr-2"></span>{%- endif -%}{{ __(period) }}</a></li>
							{%- endfor -%}
						</ul>
					</li>
				{%- else -%}
					<li class="nav-item">
						<a class="nav-link text-muted" aria-current="page" href="{{ url_for('rating.get_top', period='all-days', extension=current_extension) }}">{{ __('Top 10') }}</a>
					</li>
				{%- endif -%}
				{%- if criterias -%}
					<li class="nav-item dropdown">
						<a class="nav-link text-muted dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ __('Personal') + ': ' + __(current_criteria) }}</a>
						<ul class="dropdown-menu">
							{%- for criteria in criterias -%}
								<li><a class="dropdown-item" href="{{ url_for('rating.get_chart', extension=current_extension, criteria=criteria) }}">{%- if current_criteria == criteria -%}<span class="small oi oi-check mr-2"></span>{%- endif -%}{{ __(criteria) }}</a></li>
							{%- endfor -%}
						</ul>
					</li>
				{%- else -%}
					<li class="nav-item">
						<a class="nav-link text-muted" aria-current="page" href="{{ url_for('rating.get_chart', extension=current_extension, criteria='crammers') }}">{{ __('Personal') }}</a>
					</li>
				{%- endif -%}
				<li class="nav-item dropdown" style="margin: 0 0 0 auto;">
					<a class="nav-link text-muted dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ __('Extension') + ': ' + __(current_extension) }}</a>
					<ul class="dropdown-menu">
						{%- if endpoint == 'rating.get_top' -%}
							{%- set endpoint_url = url_for(endpoint, period=current_period, extension='all-extensions') -%}
						{%- else -%}
							{%- set endpoint_url = url_for(endpoint, extension='all-extensions', criteria=current_criteria) -%}
						{%- endif -%}
						<li><a class="dropdown-item" href="{{ endpoint_url }}">{%- if current_extension == 'all-extensions' -%}<span class="small oi oi-check mr-2"></span>{%- endif -%}{{ __('all-extensions') }}</a></li>
						<li><hr class="dropdown-divider"></li>
						{%- for extension in extensions -%}
							{%- if endpoint == 'rating.get_top' -%}
								{%- set endpoint_url = url_for(endpoint, period=current_period, extension=extension) -%}
							{%- else -%}
								{%- set endpoint_url = url_for(endpoint, extension=extension, criteria=current_criteria) -%}
							{%- endif -%}
							<li><a class="dropdown-item" href="{{ endpoint_url }}">{%- if current_extension == extension -%}<span class="small oi oi-check mr-2"></span>{%- endif -%}{{ __(extension) }}</a></li>
						{%- endfor -%}
					</ul>
				</li>
			</ul>
			{%- block rating_content -%}
			{%- endblock rating_content -%}
		</div>
	</div>


	<!-- {%- for item in all -%}
		<p>{{ item }}</p>
	{%- endfor -%}


	<div class="offcanvas offcanvas-bottom show" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body small">
			...
		</div>
	</div> -->

	{%- endblock body_content -%}
