{%- extends "rating/base.html" -%}
{% set endpoint = 'rating.get_chart' -%}
{%- set extra_links -%}
	<a class="btn btn-sm btn-styled btn-styled-light m-1 button-click" href="{{ url_for('rating.get_top') }}"><span class="oi oi-graph"></span><div class="d-inline ml-1">{{ __('Top 10') }}</div></a>
{%- endset -%}
{%- set filter_group -%}
	<div id="criteriaGroup" class="d-inline-block col-text-center col-sm-text-end">
		<div class="collapse show" id="collapse-criteria" data-parent="#criteriaGroup">
			<a class="btn btn-sm btn-styled btn-styled-light m-1 button-click" href="#" data-toggle="collapse" data-target="#collapse-criteria-links" aria-expanded="true" aria-controls="collapse-criteria-links"><span class="oi oi-tag"></span><div class="d-none d-sm-inline ml-1">{{ __('Criteria') }}:</div><div class="d-inline-block ml-1">{{ __(current_criteria) }}</div></a>
		</div>
		<div class="collapse collapse-frame" id="collapse-criteria-links" data-parent="#criteriaGroup">
			{%- for criteria in criterias -%}
				<a class="btn btn-sm btn-styled btn-styled-light m-1 button-click" href="{{ url_for('rating.get_chart', extension=current_extension, criteria=criteria) }}"><span class="oi oi-tag"></span><div class="d-inline ml-1">{{ __(criteria) }}</div></a>
			{%- endfor -%}
			<a class="btn btn-sm btn-styled btn-styled-light m-1 button-click" href="#" data-toggle="collapse" data-target="#collapse-criteria" aria-expanded="true" aria-controls="collapse-criteria"><span class="oi oi-x"></span><div class="d-inline ml-1">{{ __('Close') }}</div></a>
		</div>
	</div>
{%- endset -%}
{%- block ratings_content -%}
	<div class="card w-100 my-3">
		<div class="d-none d-md-inline-block p-3">
			<canvas id="chart-landscape" style="display: block; width: 600px; height: 250px;" width="600" height="250" class="chartjs-render-monitor"></canvas>
		</div>
		<div class="d-inline-block d-md-none p-3">
			<canvas id="chart-portrait" style="display: block; width: 600px; height: 600px;" width="600" height="600" class="chartjs-render-monitor"></canvas>
		</div>
	</div>
	<script>
		new Chart("chart-landscape", {
			type: "line",
			data: {
				labels: {{ days|tojson|safe }},
				datasets: [
					{%- for name_value, name_data in data.items() -%}
						{{ { 'data': name_data['value'], 'label': name_value, 'fill': 'start', 'backgroundColor': name_data['bg-color'], 'borderColor': name_data['fg-color'] }|tojson|safe }}
						{% if not loop.last %},{%- endif -%}
					{%- endfor -%}
				]
			},
			options: {
				elements: {
					line: {
						tension: 0.25,
						borderWidth: 2
					},
					point: {
						radius: 2.1
					}
				},
				legend: {
					position: 'top'
				}
			}
		});
		new Chart("chart-portrait", {
			type: "line",
			data: {
				labels: {{ days|tojson|safe }},
				datasets: [
					{%- for name_value, name_data in data.items() -%}
						{{ { 'data': name_data['value'], 'label': name_value, 'fill': 'start', 'backgroundColor': name_data['bg-color'], 'borderColor': name_data['fg-color'] }|tojson|safe }}
						{% if not loop.last %},{%- endif -%}
					{%- endfor -%}
				]
			},
			options: {
				elements: {
					line: {
						tension: 0.25,
						borderWidth: 1
					},
					point: {
						radius: 1.1
					}
				},
				legend: {
					position: 'top'
				}
			}
		});
	</script>
{%- endblock ratings_content -%}
{%- block script -%}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
{%- endblock -%}
