
{%- extends "rating/base.html" -%}
{% set endpoint = 'rating.get_top' -%}
{%- block rating_content -%}
	<div class="card w-100 my-3">
		{% if top_crammers|length %}
			<ul class="list-group list-group-flush">
				{%- for name_value, process_count, correct_count, answer_time, total in top_crammers -%}
					<li class="list-group-item d-flex justify-content-between align-items-start" style="{%- if loop.first -%}background: lightgrey;{%- endif -%}">
						<div>
							<div class="d-inline-block mr-3">{{ loop.index }}<span class="small ml-1" style="position: relative; top: -5px;">{{ __('place') }}</div>
							{{ name_value }}
						</div>
						<div class="ml-3">
							<div class="d-none d-md-inline-block small text-muted">
								<div class="d-inline-block mr-5">
									{{ process_count }}
									<span class="ml-1">{{  __('passed tests') }}</span>
								</div>
								<div class="d-inline-block mr-5">
									{{ correct_count }}
									<span class="ml-1">{{  __('correct answers') }}</span>
								</div>
							</div>
							<div class="d-inline-block">
								{{ total }}
								<span class="small">{{ __('crammers') }}</span></div>
						</div>
					</li>
				{%- endfor -%}
			</ul>
		{%- else -%}
			<small class="text-muted w-100 text-center p-3">{{ __('Top 10 empty') }}</small>
		{%- endif -%}
	</div>
{%- endblock rating_content -%}
