{%- extends "rating/base.html" -%}
{%- set endpoint = 'rating.get_top' -%}
{%- if user_crammers|default('', True) -%}
	{%- set place = user_crammers[0] -%}
{%- else -%}
	{%- set place = 0 -%}
{%- endif -%}
{%- block ratings_content -%}
	{% if top_crammers|length %}
		{%- for name_value, process_count, correct_count, answer_time, total in top_crammers -%}
			<div class="card w-100 p-3 my-2{%- if loop.index == 1 -%}{{ ' rating-first' }}{%- endif -%}{%- if loop.index == place -%}{{ ' rating-user rating-first' }}{%- endif -%}">
				<div class="row align-items-center">
					<div class="col-5 col-sm-7 col-md-5 col-lg-4">
						<div class="row">
							<div class="col-12 col-sm-5">{{ loop.index }}<small class="ml-1 rating-place"></small>{{ __('place') }}</div>
							<div class="d-none d-sm-block col-sm-7">{{ name_value }}</div>
						</div>
					</div>
					<div class="col-7 d-sm-none text-end">{{ name_value }}</div>
					<small class="d-none d-md-block col-md-4 col-lg-5 text-end">
						<div class="row">
							<div class="d-inline-block col-md-12 col-lg-6">
								{{ process_count }}<span class="ml-1">{{  __('passed tests') }}</span>
							</div>
							<div class="d-inline-block col-md-12 col-lg-6">
								{{ correct_count }}<span class="ml-1">{{  __('correct answers') }}</span>
							</div>
						</div>
					</small>
					<div class="col-12 col-sm-5 col-md-3 text-end">
						{{ total }}<small class="ml-1">{{ __('crammers') }}</small>
					</div>
				</div>
			</div>
		{%- endfor -%}
	{%- else -%}
		<div class="card shadow bg-gradient-grey w-100 p-5 my-2 text-center">
			{{ __('Top 10 empty') }}
		</div>
	{%- endif -%}
	{%- if place > 10 -%}
		<div class="card w-100 p-3 my-3 rating-user rating-first">
			{%- set _, name_value, process_count, correct_count, answer_time, total = user_crammers -%}
			<div class="row align-items-center">
				<div class="col-5 col-sm-7 col-md-5 col-lg-4">
					<div class="row">
						<div class="col-12 col-sm-5">{{ place }}<small class="ml-1 rating-place"></small>{{ __('place') }}</div>
						<div class="d-none d-sm-block col-sm-7">{{ name_value }}</div>
					</div>
				</div>
				<div class="col-7 d-sm-none text-end">{{ name_value }}</div>
				<small class="d-none d-md-block col-md-4 col-lg-5 text-end">
					<div class="row">
						<div class="d-inline-block col-md-12 col-lg-6">
							{{ process_count }}<span class="ml-1">{{  __('passed tests') }}</span>
						</div>
						<div class="d-inline-block col-md-12 col-lg-6">
							{{ correct_count }}<span class="ml-1">{{  __('correct answers') }}</span>
						</div>
					</div>
				</small>
				<div class="col-12 col-sm-5 col-md-3 text-end">
					{{ total }}<small class="ml-1">{{ __('crammers') }}</small>
				</div>
			</div>
		</div>
	{%- endif -%}
{%- endblock ratings_content -%}
