{%- extends "rating/base.html" -%}
{%- set endpoint = 'rating.get_top' -%}
{%- if user_crammers|default('', True) -%}
	{%- set place = user_crammers[0] -%}
{%- else -%}
	{%- set place = 0 -%}
{%- endif -%}
{%- set extra_links -%}
	<a class="btn btn-sm btn-styled btn-styled-light m-1 button-click" href="{{ url_for('rating.get_chart') }}"><span class="oi oi-graph"></span><div class="d-inline ml-1">{{ __('Personal') }}</div></a>
{%- endset -%}
{%- set filter_group -%}
	<div id="periodGroup" class="d-inline-block col-text-center col-sm-text-end">
		<div class="collapse show" id="collapse-period" data-parent="#periodGroup">
			<a class="btn btn-sm btn-styled btn-styled-light m-1 button-click" href="#" data-toggle="collapse" data-target="#collapse-period-links" aria-expanded="true" aria-controls="collapse-period-links"><span class="oi oi-calendar"></span><div class="d-none d-sm-inline ml-1">{{ __('Period') }}:</div><div class="d-inline-block ml-1">{{ __(current_period) }}</div></a>
		</div>
		<div class="collapse collapse-frame" id="collapse-period-links" data-parent="#periodGroup">
			{%- for period in periods -%}
				<a class="btn btn-sm btn-styled btn-styled-light m-1 button-click" href="{{ url_for('rating.get_top', period=period, extension=current_extension) }}"><span class="oi oi-calendar"></span><div class="d-inline ml-1">{{ __(period) }}</div></a>
			{%- endfor -%}
			<a class="btn btn-sm btn-styled btn-styled-light m-1 button-click" href="#" data-toggle="collapse" data-target="#collapse-period" aria-expanded="true" aria-controls="collapse-period"><span class="oi oi-x"></span><div class="d-inline ml-1">{{ __('Close') }}</div></a>
		</div>
	</div>
{%- endset -%}
{%- block ratings_content -%}
	{% if top_crammers|length %}
		{%- for name_value, process_count, correct_count, answer_time, total in top_crammers -%}
			<div class="card w-100 p-3 my-2{%- if loop.index == 1 -%}{{ ' rating-first' }}{%- endif -%}{%- if loop.index == place -%}{{ ' rating-user rating-first' }}{%- endif -%}">
				<div class="row align-items-center">
					<div class="col-5 col-sm-7 col-md-5 col-lg-4">
						<div class="row">
							<div class="col-12 col-sm-5">{{ loop.index }}<small class="ml-1 rating-place"></small>{{ __('place') }}</div>
							<div class="d-none d-sm-block col-sm-7">{{ name_value }}</div>
						</div>
					</div>
					<div class="col-7 d-sm-none text-end">{{ name_value }}</div>
					<small class="d-none d-md-block col-md-4 col-lg-5 text-end">
						<div class="row">
							<div class="d-inline-block col-md-12 col-lg-6">
								{{ process_count }}<span class="ml-1">{{  __('passed tests') }}</span>
							</div>
							<div class="d-inline-block col-md-12 col-lg-6">
								{{ correct_count }}<span class="ml-1">{{  __('correct answers') }}</span>
							</div>
						</div>
					</small>
					<div class="col-12 col-sm-5 col-md-3 text-end">
						{{ total }}<small class="ml-1">{{ __('crammers') }}</small>
					</div>
				</div>
			</div>
		{%- endfor -%}
	{%- else -%}
		<div class="card shadow bg-gradient-grey w-100 p-5 my-2 text-center">
			{{ __('Top 10 empty') }}
		</div>
	{%- endif -%}
	{%- if place > 10 -%}
		<div class="card w-100 p-3 my-3 rating-user rating-first">
			{%- set _, name_value, process_count, correct_count, answer_time, total = user_crammers -%}
			<div class="row align-items-center">
				<div class="col-5 col-sm-7 col-md-5 col-lg-4">
					<div class="row">
						<div class="col-12 col-sm-5">{{ place }}<small class="ml-1 rating-place"></small>{{ __('place') }}</div>
						<div class="d-none d-sm-block col-sm-7">{{ name_value }}</div>
					</div>
				</div>
				<div class="col-7 d-sm-none text-end">{{ name_value }}</div>
				<small class="d-none d-md-block col-md-4 col-lg-5 text-end">
					<div class="row">
						<div class="d-inline-block col-md-12 col-lg-6">
							{{ process_count }}<span class="ml-1">{{  __('passed tests') }}</span>
						</div>
						<div class="d-inline-block col-md-12 col-lg-6">
							{{ correct_count }}<span class="ml-1">{{  __('correct answers') }}</span>
						</div>
					</div>
				</small>
				<div class="col-12 col-sm-5 col-md-3 text-end">
					{{ total }}<small class="ml-1">{{ __('crammers') }}</small>
				</div>
			</div>
		</div>
	{%- endif -%}
{%- endblock ratings_content -%}
