{%- extends "layout.html" -%}
{% set title -%}{{ __('Cabinet') }}{%- endset %}
{%- block style -%}

{%- endblock -%}
{%- block body_content -%}
	<h2 class="mt-3">{{ __('Cabinet') }}</h2>
	<small>{{ __('Profiles') }}</small>
	<div class="card-columns">
		<div class="card p-3">
			<blockquote class="blockquote mb-0 card-body">
				<form>
					<small>{{ __('Name') }}</small>
					<input type="text" placeholder="{{ __('Name') }}" />
					<a class="btn btn-light">{{ __('Add Profile...') }}</a>
				</form>
			</blockquote>
		</div>
		<div class="card p-3">
			<blockquote class="blockquote mb-0 card-body">
				<form>
					<small>{{ __('Name') }}</small>
					<input type="text" placeholder="{{ __('Name') }}" value="Son 1" />
					<a class="btn btn-light">{{ __('Update Profile...') }}</a>
				</form>
			</blockquote>
		</div>
	</div>
{%- endblock -%}
