{%- extends "layout_content.html" -%}
{%- import 'lister.html' as lister with context -%}
{%- set title -%}{{ __('Testing') }}{%- endset -%}
{%- set extra_links -%}
	{%- if current_user.is_authenticated -%}
		<a class="btn btn-sm btn-styled btn-styled-light m-1 button-click" href="{{ url_for('testing.create') }}"><span class="oi oi-plus"></span><div class="d-inline ml-1">{{ __('Create Test') }}</div></a>
	{%- endif -%}
	<a class="btn btn-sm btn-styled btn-styled-green m-1 button-click" href="{{ url_for('testing.start') }}"><span class="oi oi-caret-right"></span><div class="d-inline ml-1">{{ __('Start Random') }}</div></a>
{%- endset -%}
{%- block content -%}
	<div class="w-100">
		<div class="card shadow px-3 py-2 bg-gradient-yellow">
			<div class="d-block-center d-sm-flex w-100 align-items-center">
				<h5 class="flex-grow-1 my-2 mr-2 py-1">
					{{ lister.show_title(title, '') }}
				</h5>
				<div class="d-inline-block col-text-center col-sm-text-end">
					{{ lister.show_filter(extra_links) }}{{ lister.show_pagination() }}
				</div>
			</div>
		</div>
		{%- for test in tests -%}
			<div class="card shadow p-3 bg-gradient-whitesmoke w-100 my-2">
				<div class="d-flex w-100 align-items-center">
					<div class="flex-grow-1 mr-2">
						<div><strong>{{ test.name }}</strong></div>
						<div>{{ __(test.extension) }}</div>
					</div>
					<a class="btn btn-sm btn-styled btn-styled-green m-1 button-click" href="{{ url_for('testing.start', uid=test.uid) }}"><span class="oi oi-caret-right"></span><div class="d-none d-sm-inline ml-1">{{ __('Start') }}</div></a>
					<a class="btn btn-sm btn-styled btn-styled-light m-1 button-click" href="{{ url_for('testing.get_history', uid=test.uid) }}"><span class="oi oi-list"></span><div class="d-none d-sm-inline ml-1">{{ __('History') }}</div></a>
					{%- if current_user.get_id() == test.user_uid or current_user.get_id() in current_user.get_admin_uid_list() -%}
						<a class="btn btn-sm btn-styled btn-styled-light m-1 button-click" href="{{ url_for('testing.update', uid=test.uid) }}"><span class="oi oi-pencil"></span><div class="d-none d-sm-inline ml-1">{{ __('Edit') }}</div></a>
						<div id="deleteGroup-{{ test.uid }}" class="d-inline-block text-center">
							<div class="collapse show" id="collapse-delete-{{ test.uid }}" data-parent="#deleteGroup-{{ test.uid }}">
								<a class="btn btn-sm btn-styled btn-styled-red mx-1 button-click" href="#" data-toggle="collapse" data-target="#collapse-delete-confirm-{{ test.uid }}" aria-expanded="true" aria-controls="collapse-delete-confirm-{{ test.uid }}"><span class="oi oi-trash"></span><div class="d-none d-sm-inline ml-1">{{ __('Delete') }}</div></a>
							</div>
							<div class="collapse text-center collapse-frame" id="collapse-delete-confirm-{{ test.uid }}" data-parent="#deleteGroup-{{ test.uid }}">
								<div>
									<div class="m-2">{{ __('Delete') + '?' }}</div>
									<a class="btn btn-sm btn-styled btn-styled-red m-1 button-click" href="{{ url_for('testing.delete', uid=test.uid) }}"><span class="oi oi-check"></span><div class="d-none d-sm-inline ml-1">{{ __('Yes') }}</div></a>
									<a class="btn btn-sm btn-styled btn-styled-light button-click" href="#" data-toggle="collapse" data-target="#collapse-delete-{{ test.uid }}" aria-expanded="true" aria-controls="collapse-delete-{{ test.uid }}"><span class="oi oi-x"></span><div class="d-none d-sm-inline ml-1">{{ __('No') }}</div></a>
								</div>
							</div>
						</div>
					{%- endif -%}
				</div>
			</div>
		{%- endfor -%}
	</div>
{%- endblock content -%}
