{%- extends "layout_center.html" -%}
{%- import 'extension/' + test.extension + '.html' as extension with context -%}
{%- set title -%}{{ __('Testing') }}{%- endset -%}
{%- block content -%}
	<div class="card shadow p-5 rotated-background-card bg-gradient-whitesmoke" angle="l3">
		<div class="logo d-flex align-items-center justify-content-center">
			<img class="mr-2" src="{{ url_for('static', filename='est_o.png') }}">
			<div class="mr-2">{{ __(basename) }}</div>
		</div>
		<div class="content-delimeter my-3"></div>
		{%- block testing_content -%}
		{%- endblock testing_content -%}
	</div>
	<div id="passed-tasks">
		{%- for passed_task in passed_tasks -%}
			{%- set loop_index = loop.index -%}
			{%- include 'testing/passed.html' -%}
		{%- endfor -%}
	</div>
	<audio id="correct-audio" preload="auto"><source src="{{ url_for('static', filename='yay.mp3') }}" type="audio/mpeg"></audio>
	<audio id="incorrect-audio" preload="auto"><source src="{{ url_for('static', filename='break.mp3') }}" type="audio/mpeg"></audio>
	{%- if player_audio -%}
		<script type="text/javascript">
			$(window).on('load', function() {
				var audio = $("#{{ player_audio }}");
				if (audio) audio[0].play();
			});
		</script>
	{%- endif -%}
	{%- if extension.script -%}{{ extension.script() }}{%- endif -%}
{%- endblock content -%}
