{%- extends "layout_inner.html" -%}
{%- block body_content -%}
	<div class="d-flex w-100 justify-content-between mb-2">
		<small>
		  <a href="#" class="text-muted p-1" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter"><span class="oi oi-magnifying-glass mr-1"></span>{{ __('Filter') }}</a>
		  {%- if create_link -%}
		  	{%- if create_link == '#' -%}
				  <a href="#" class="text-muted p-1" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseCreator" aria-expanded="true" aria-controls="collapseCreator"><span class="oi oi-plus ml-2 mr-1"></span>{{ __('Create') }}</a>
		  	{%- else -%}
			  	<a href="{{ create_link }}" class="text-muted p-1" style="text-decoration: none;"><span class="oi oi-plus ml-2 mr-1"></span>{{ __('Create') }}</a>
		  	{%- endif -%}
		  {%- endif -%}
	  </small>
	  <small>
	  	{%- if pagination.page_index > 1 -%}
			  <a href="{{ url_for('test.get_catalog', page_index=pagination.page_index - 1) }}" class="text-muted p-1"><span class="oi oi-chevron-left"></span></a>
	  	{%- endif -%}
  		{%- if pagination.page_count > 1 -%}
			  <a href="#" class="text-muted p-1 ml-2 mr-2" style="text-decoration: none;" data-toggle="collapse" data-target="#collapsePaginator" aria-expanded="true" aria-controls="collapsePaginator">{{ __('Page') + ' %d' % pagination.page_index }}</a>
	  	{%- endif -%}
	  	{%- if pagination.page_index < pagination.page_count -%}
			  <a href="{{ url_for('test.get_catalog', page_index=pagination.page_index + 1) }}" class="text-muted p-1"><span class="oi oi-chevron-right"></span></a>
	  	{%- endif -%}
	  </small>
  </div>
  <div class="mb-3">
	  <div class="collapse" id="collapseFilter">
	    <div class="card p-2 shadow-sm rounded">
	    	{%- block filter -%}{%- endblock -%}
	    </div>
	  </div>
	  <div class="collapse" id="collapseCreator">
	    <div class="card p-2 shadow-sm rounded">
	    	{%- block creator -%}{%- endblock -%}
	    </div>
	  </div>
	  <div class="collapse" id="collapsePaginator">
	    <div class="card p-2 shadow-sm rounded text-center">
	    	<small>
	    		{%- set first = [1, pagination.page_index - 3]|max -%}
	    		{%- set last = [pagination.page_count, first + 7]|min -%}
					{%- for index in range(first, last + 1) -%}
						{%- if index == pagination.page_index -%}
							<a href="#" class="text-muted p-2" style="text-decoration: none; background: whitesmoke;">{{ index }}</a>
						{%- else -%}
							<a href="{{ url_for('test.get_catalog', page_index=index) }}" class="text-muted p-2" style="text-decoration: none;">{{ index }}</a>
						{%- endif -%}
					{%- endfor -%}
				</small>
	    </div>
	  </div>
  </div>
	{%- block list_content -%}
	{%- endblock -%}
{%- endblock -%}
{%- block body_script -%}
	<script type="text/javascript">
		var $collapseFilter = $('#collapseFilter');
		var $collapseCreator = $('#collapseCreator');
		var $collapsePaginator = $('#collapsePaginator');
		$collapseFilter.on('show.bs.collapse', function () {
			$collapseCreator.collapse('hide');
			$collapsePaginator.collapse('hide');
  	});
		$collapseCreator.on('show.bs.collapse', function () {
			$collapseFilter.collapse('hide');
			$collapsePaginator.collapse('hide');
  	});
		$collapsePaginator.on('show.bs.collapse', function () {
			$collapseFilter.collapse('hide');
			$collapseCreator.collapse('hide');
  	});
	</script>
{%- endblock -%}
