{%- extends "layout_inner.html" -%}
{%- block body_content -%}
	<div class="d-flex w-100 justify-content-between mb-2">
		<small>
		  {%- if filter_link -%}
			  <a href="#" class="text-muted p-1" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter"><span class="oi oi-magnifying-glass mr-1"></span>{{ __('Filter') }}</a>
		  {%- endif -%}
		  {%- if extra_link -%}
		  	{%- if extra_link == '#' -%}
				  <a href="#" class="text-muted p-1" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseExtra" aria-expanded="true" aria-controls="collapseExtra">{{ extra_text }}</a>
		  	{%- else -%}
			  	<a href="{{ extra_link }}" class="text-muted p-1" style="text-decoration: none;">{{ extra_text }}</a>
		  	{%- endif -%}
		  {%- endif -%}
	  </small>
	  <small>
	  	{%- if pagination.page_index > 1 -%}
			  <a href="{{ url_for('test.get_catalog', page_index=pagination.page_index - 1) }}" class="text-muted p-1"><span class="oi oi-chevron-left"></span></a>
	  	{%- endif -%}
  		{%- if pagination.page_count > 1 -%}
			  <a href="#" class="text-muted p-1 ml-2 mr-2" style="text-decoration: none;" data-toggle="collapse" data-target="#collapsePaginator" aria-expanded="true" aria-controls="collapsePaginator">{{ __('Page') + ' %d' % pagination.page_index }}</a>
			{%- else -%}
				<div class="text-muted">{{ __('total') }}: {{ pagination.entity_count }} {{ __('elements') }}</div>
	  	{%- endif -%}
	  	{%- if pagination.page_index < pagination.page_count -%}
			  <a href="{{ url_for('test.get_catalog', page_index=pagination.page_index + 1) }}" class="text-muted p-1"><span class="oi oi-chevron-right"></span></a>
	  	{%- endif -%}
	  </small>
  </div>
  <div class="mb-3">
	  <div class="collapse" id="collapseFilter">
	    <div class="card p-2 shadow-sm rounded">
	    	{%- block filter -%}{%- endblock -%}
	    </div>
	  </div>
	  <div class="collapse" id="collapseExtra">
	    <div class="card p-2 shadow-sm rounded">
	    	{%- block extra -%}{%- endblock -%}
	    </div>
	  </div>
	  <div class="collapse" id="collapsePaginator">
	    <div class="card p-2 shadow-sm rounded text-center">
	    	<p class="mt-1 mb-0">
		    	<small>
		    		{%- set first = [1, pagination.page_index - 3]|max -%}
		    		{%- set last = [pagination.page_count, first + 7]|min -%}
						{%- for index in range(first, last + 1) -%}
							{%- if index == pagination.page_index -%}
								<a href="#" class="text-muted p-2" style="text-decoration: none; background: whitesmoke;">{{ index }}</a>
							{%- else -%}
								<a href="{{ url_for('test.get_catalog', page_index=index) }}" class="text-muted p-2" style="text-decoration: none;">{{ index }}</a>
							{%- endif -%}
						{%- endfor -%}
					</small>
				</p>
				<p class="mt-0 mb-1">
					<small class="text-muted">{{ __('total') }}: {{ pagination.entity_count }} {{ __('elements') }}</small>
				</p>
	    </div>
	  </div>
  </div>
	{%- block list_content -%}
	{%- endblock -%}
{%- endblock -%}
{%- block body_script -%}
	<script type="text/javascript">
		var $collapseFilter = $('#collapseFilter');
		var $collapseExtra = $('#collapseExtra');
		var $collapsePaginator = $('#collapsePaginator');
		$collapseFilter.on('show.bs.collapse', function () {
			$collapseExtra.collapse('hide');
			$collapsePaginator.collapse('hide');
  	});
		$collapseExtra.on('show.bs.collapse', function () {
			$collapseFilter.collapse('hide');
			$collapsePaginator.collapse('hide');
  	});
		$collapsePaginator.on('show.bs.collapse', function () {
			$collapseFilter.collapse('hide');
			$collapseExtra.collapse('hide');
  	});
	</script>
{%- endblock -%}
