{%- extends "layout_base.html" -%}
{%- set name = current_user.get_name()|default({ 'value': None }, True) -%}
{%- block style -%}
		<meta name="theme-color" content="#563d7c">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
{%- endblock -%}
{%- block body -%}
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		  <header class="masthead mb-auto">
		    <div class="inner">
		      <a class="navbar-brand p-0 m-0" href="{{ url_for('base.get_landing') }}">
		      	<img class="d-inline align-middle mr-2" src="{{ url_for('static', filename='est_w.png') }}" width="25" height="25">
		      	<strong>{{ __(basename) }}</strong>
		      </a>
		      <nav class="nav nav-masthead justify-content-center">
		        <a class="nav-link" href="{{ url_for('test.get_catalog') }}">{{ __('Catalog') }}</a>
		        <a class="nav-link" href="{{ url_for('test.get_process') }}">{{ __('Testing') }}</a>
		        <a class="nav-link" href="{{ url_for('rating.get_top', period='all-days', extension='all-extensions') }}">{{ __('Ratings') }}</a>
		        <a class="nav-link" href="{{ url_for('base.get_switcher') }}">{{ name.value or __('User') }}</a>
		        {%- if current_user.is_authenticated -%}
			        <a class="nav-link" href="{{ url_for('base.get_profile') }}"><span class="oi oi-person"></span></a>
			      {%- else -%}
			        <a class="nav-link" href="{{ url_for('base.sign_in', step=1) }}"><span class="oi oi-account-login"></span></a>
			      {%- endif -%}
		      </nav>
		    </div>
		  </header>
		  <main role="main" class="inner cover">
		  	{%- block body_content -%}{%- endblock -%}
		  </main>
		  <footer class="mastfoot mt-2">
		    <div class="inner text-center">- P1A7CK/2021 -</div>
		  </footer>
		</div>
	  {%- block body_script -%}{%- endblock -%}
	</body>
{%- endblock -%}
