<div class="accordion" id="accordionFilter">
  <div class="card" style="border: none;">
    <div class="card-header p-0 m-0" id="headingFilter">
    	<div class="row m-0">
    		{%- if not current_user.is_authenticated -%}
		      <a href="{{ url_for('examination.create_examination') }}" class="btn btn-block col-6 btn-outline-dark m-0" style="border: none; border-radius: 0;">
		        {{ __('Create...') }}
		      </a>
		      <button class="btn btn-block col-6 btn-outline-dark m-0" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="border: none; border-radius: 0;">
		        {{ __('Filter') }}
		      </button>
		    {%- else -%}
		      <button class="btn btn-block btn-outline-dark m-0" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="border: none; border-radius: 0;">
		        {{ __('Filter') }}
		      </button>
		    {%- endif -%}
	    </div>
    </div>
    <div id="collapseOne" class="collapse hide" aria-labelledby="headingFilter" data-parent="#accordionFilter" style="background: dimgrey;">
      <div class="card-body">
				<form method="post" actions="">
					{{ filter.csrf_token }}
					<div class="form-row text-white">
						<div class="col-12 col-md-4 mb-2">
							<small>{{ __('Name') }}</small>
							<input type="text" class="form-control" id="filter_name" name="filter_name" placeholder="{{ __('Name') }}" value="{{ filter.filter_name.data|default('', True) }}" />	
						</div>
						<div class="col-12 col-md-4 mb-2">
							<small>{{ __('Plugin') }}</small>
							<input type="text" class="form-control" id="filter_plugin" name="filter_plugin" placeholder="{{ __('Plugin') }}" value="{{ filter.filter_plugin.data|default('', True) }}" />
						</div>
						<div class="col-12 col-md-2 mb-2">
							<small>{{ __('Hide global') }}</small>
							<input type="checkbox" class="form-control" id="filter_hide_global" name="filter_hide_global" style="width: auto;" {%- if (filter.filter_hide_global.data == 'true' or filter.filter_hide_global.data == 'True') or filter.filter_hide_global.data is true -%}checked{%- endif -%} />
						</div>
						<div class="col-12 col-md-2 my-2">
							<div class="form-row">
								<div class="mb-2 col-6 col-md-12">
									<button type="submit" class="btn btn-sm btn-block btn-outline-light">{{ __('Apply') }}</button>
								</div>
								<div class="mb-2 col-6 col-md-12">
									<a href="{{ url_for('examination.get_examination_catalog', filter_reset=True) }}" class="btn btn-sm btn-block btn-outline-light">{{ __('Reset') }}</a>
								</div>
							</div>
						</div>
					</div>
				</form>
      </div>
    </div>
  </div>
</div>
