{%- extends "layout.html" -%}
{% set title -%}{{ __('Update Examination') }}{%- endset %}
{%- block body_content -%}
	<h2 class="mt-3">{{ __('Update Examination') }}</h2>
	<form method="post" actions="">
		{{ updater.csrf_token }}
		<div class="form-row">
			<div class="col-12 col-md-4 mb-2">
				<small>{{ __('Name') }}</small>
				<input type="text" class="form-control{%- if updater.name.errors -%}{{ ' is-invalid' }}{%- endif -%}" name="name" placeholder="{{ __('Name') }}" value="{{ updater.name.data|default('', true) }}" />
				{%- for error in updater.name.errors -%}
					<div class="invalid-feedback">
						{{ __(error) }}
					</div>
				{%- endfor -%}
			</div>
			<div class="col-12 col-md-8 mb-2">
				<small>{{ __('Description') }}</small>
				<input type="text" class="form-control{%- if updater.description.errors -%}{{ ' is-invalid' }}{%- endif -%}" name="description" placeholder="{{ __('Description') }}" value="{{ updater.description.data|default('', true) }}" />
				{%- for error in updater.description.errors -%}
					<div class="invalid-feedback">
						{{ __(error) }}
					</div>
				{%- endfor -%}
			</div>
			<div class="col-12 col-md-4 mb-2">
				<small>{{ __('Plugin') }}</small>
				<select class="custom-select{%- if updater.plugin.errors -%}{{ ' is-invalid' }}{%- endif -%}" name="plugin" >
					<option {%- if updater.plugin.data == '' -%}selected{%- endif -%}>{{ __('Select Plugin...') }}</option>
					{%- for choice in updater.plugin.choices -%}
						<option value="{{ choice[0] }}" {%- if updater.plugin.data == choice[0] -%}selected{%- endif -%}>{{ choice[1] }}</option>
					{%- endfor -%}
				</select>
				{%- for error in updater.plugin.errors -%}
					<div class="invalid-feedback">
						{{ __(error) }}
					</div>
				{%- endfor -%}
			</div>
			<div class="col-12 col-md-4 mb-2">
				<small>{{ __('Default Repeat') }}</small>
				<select class="custom-select{%- if updater.default_repeat.errors -%}{{ ' is-invalid' }}{%- endif -%}" name="default_repeat">
					<option {%- if updater.default_repeat.data == '' -%}selected{%- endif -%}>{{ __('Select Default Repeat...') }}</option>
					{%- for choice in updater.default_repeat.choices -%}
						<option value="{{ choice[0] }}"{%- if updater.default_repeat.data == choice[0] -%}selected{%- endif -%}>{{ choice[1] }}</option>
					{%- endfor -%}
				</select>
				{%- for error in updater.default_repeat.errors -%}
					<div class="invalid-feedback">
						{{ __(error) }}
					</div>
				{%- endfor -%}
			</div>
			<div class="col-12 col-md-4 mb-2">
				<small>{{ __('Default Perfomance') }}</small>
				<select class="custom-select{%- if updater.default_performance.errors -%}{{ ' is-invalid' }}{%- endif -%}" name="default_performance">
					<option {%- if updater.default_performance.data == '' -%}selected{%- endif -%}>{{ __('Select Default Performance...') }}</option>
					{%- for choice in updater.default_performance.choices -%}
						<option value="{{ choice[0] }}"{%- if updater.default_performance.data == choice[0] -%}selected{%- endif -%}>{{ choice[1] }}</option>
					{%- endfor -%}
				</select>
				{%- for error in updater.default_performance.errors -%}
					<div class="invalid-feedback">
						{{ __(error) }}
					</div>
				{%- endfor -%}
			</div>
		</div>
		<div class="form-row d-flex align-items-end">
			{%- if is_plugin -%}
				{%- include 'examination/catalog/plugin.html' -%}
			{%- else -%}
				<div class="col-12 mb-2">
					<small>{{ __('Plugin Options') }}</small>
					<textarea class="form-control{%- if updater.plugin_options.errors -%}{{ ' is-invalid' }}{%- endif -%}" name="plugin_options" placeholder="{{ __('Plugin Options') }}" rows="5">{{ updater.plugin_options.data|default('', true) }}</textarea>
					{%- for error in updater.plugin_options.errors -%}
						<div class="invalid-feedback">
							{{ __(error) }}
						</div>
					{%- endfor -%}
				</div>
			{%- endif -%}
			<div class="row w-100 mx-0 my-2">
				<div class="col-12 col-md-4 col-lg-2 offset-lg-3">
					{%- if is_plugin -%}
						<button type="submit" name="apply_plugin" class="btn btn-block btn-outline-dark">{{ __('Apply Plugin...') }}</button>
					{%- else -%}
						<button type="submit" name="configure_plugin" class="btn btn-block btn-outline-dark">{{ __('Configure Plugin...') }}</button>
					{%- endif -%}
				</div>
				<div class="col-12 col-md-4 col-lg-2">
					<button type="submit" name="save" class="btn btn-block btn-outline-dark" {%- if is_plugin -%}disabled{%- endif -%}>{{ __('Save') }}</button>
				</div>
				<div class="col-12 col-md-4 col-lg-2">
					<a href="{{ url_for('examination.get_examination_catalog') }}" class="btn btn-block btn-outline-dark">{{  __('Cancel') }}</a>
				</div>
			</div>
		</div>
	</form>
{%- endblock -%}
