{%- extends "layout_center.html" -%}
{%- block content -%}
	<div class="card shadow p-5 rotated-background-card bg-gradient-whitesmoke" angle="l3">
		<div class="logo d-flex align-items-center justify-content-center">
			<img class="mr-2" src="{{ url_for('static', filename='est_o.png') }}">
			<div class="mr-2">{{ __(basename) }}</div>
		</div>
		<div class="content-delimeter my-3"></div>
			<p class="text-center larger">{{ __('Error') }}</p>
			<h1 class="text-center large">{{ error_code }}</h1>
		</div>
		<div class="offset-1 col-10 my-2">
			<a class="btn btn-sm btn-styled btn-styled-light w-100" href="{{ url_for('base.get_home') }}"><span class="oi oi-x"></span><div class="d-inline ml-1">{{ __('Cancel') }}</div></a>
		</div>
	</div>
{%- endblock content -%}
