<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa|Marmelad|Open+Sans+Condensed:300&display=swap"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous"/>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet"> 
		<link rel="stylesheet" href="{{ url_for('static', filename='css/dpl.css') }}"/>
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}?v=1.0"/>
		{%- block style -%}{%- endblock -%}
		<title>{{ __('Elementary School Tutor') }}: {{ title }}</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.2/umd/popper.min.js" integrity="sha256-XahKYIZhnEztrOcCTmaEErjYDLoLqBoDJbVMYybyjH8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js" integrity="sha512-7yA/d79yIhHPvcrSiB8S/7TyX0OxlccU8F/kuB8mHYjLlF1MInPbEohpoqfz0AILoq5hoD7lELZAYYHbyeEjag==" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment-with-locales.min.js" integrity="sha256-wdiCkHJlqyoIJxG49WbDO0D3/EnppQp6GVOGQA6PBkA=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data.min.js" integrity="sha256-E10X63Z5YvTXDfZjb0Kqd7FOo6a/gE7hFGcYm63PLmM=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/spartan-multi-image-picker-min.js') }}"></script>
		{%- block script -%}{%- endblock -%}
		<meta name="theme-color" content="#563d7c">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		  <header class="masthead mb-auto">
		    <div class="inner">
		      <h3 class="masthead-brand">{{ __('Elementary School Tutor') }}</h3>
		      <nav class="nav nav-masthead justify-content-center">
		        <a class="nav-link" href="{{ url_for('examination.get_examination_catalog') }}">{{ __('Examination') }}</a>
		        <a class="nav-link" href="{{ url_for('results.get_top') }}">{{ __('Results') }}</a>
		        {%- if current_user.is_authenticated -%}
			        <a class="nav-link" href="{{ url_for('cabinet.get_profile') }}">{{ __('Cabinet') }}</a>
			      {%- else -%}
			        <a class="nav-link" href="{{ url_for('base.sign_in') }}">{{ __('Sign in') }}</a>
			      {%- endif -%}
		      </nav>
		    </div>
		  </header>
		  <main role="main" class="inner cover">
		  	{%- block body_content -%}{%- endblock -%}
		  </main>
		  {%- include "alert.html" -%}
		  {%- block body_script -%}{%- endblock -%}
		  <footer class="mastfoot mt-auto">
		    <div class="inner">
		      <p>Free to use tool implemented with <a href="https://flask.palletsprojects.com/">Flask Framework</a>, by <a href="https://github.com/rtm-python/est/">rtm-python (p1a-7ck)</a>.</p>
		    </div>
		  </footer>
		</div>
	</body>
</html>
