{%- extends "layout_landing.html" -%}
{%- set title -%}{{ __('Sign in') }}{%- endset -%}
{%- block body_content -%}
	<div class="col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
		<div class="row">
			<div class="col-12 col-sm-6 mb-3">
				<small>{{ __('Usercode') }}</small>
				<div class="col-12 mb-3">
					<h3 style="font-family: 'Roboto Mono', monospace; padding: 0 2px 2px 2px; border: 1px solid whitesmoke; border-radius: 5px;">{{ sign_in.usercode.value }}</h3>
					<small>{{ __('Send usercode within chat message to') + ' ' }}<a href="https://t.me/identica_bot" style="background: darkgrey; padding: 3px 5px;">@identica_bot</a></small>
					</div>
			</div>
			<div class="col-12 col-sm-6 mb-3">
				<form method="post" actions="">
					{{ sign_in.csrf_token }}
					<input type="password" class="form-control" id="usercode" name="usercode" placeholder="{{ __('Usercode') }}" value="{{ sign_in.usercode.value|default('', True) }}" hidden />
					<div class="col-12 mb-3">
						<small>{{ __('Passcode') }}</small>
						<input autofocus type="password" class="form-control" id="passcode" name="passcode" placeholder="{{ __('Passcode') }}" value="{{ sign_in.passcode.value|default('', True) }}" />
					</div>
					<div class="col-12 my-2">
						<button type="submit" class="btn btn-sm btn-block btn-outline-light">{{ __('Confirm') }}</button>
					</div>
				</form>
			</div>		
		</div>
	</div>
{%- endblock -%}
