{%- extends "layout_landing.html" -%}
{%- set title -%}{{ __('Name') }}{%- endset -%}
{%- set ga_disable = False -%}
{%- block body_content -%}
	{%- if switcher|default('', True) -%}
		<form id="switcherForm" class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-6" method="post" actions="">
			{{ switcher.csrf_token }}
			<input type="submit" id="{{ switcher.submit.label.text }}" name="{{ switcher.submit.label.text }}" class="d-none" />
			<div class="row p-1 g-3">
				<div class="col-12 text-center mt-5">
					<small>{{ __('Select user below or create new user') }}</small>
					{%- for name in switcher.name.choices -%}
						<div class="form-check">
							<input class="form-check-input" type="radio" name="{{ switcher.name.label.text }}" id="{{ name[0] }}"  value="{{ name[0] }}" style="margin: auto 0px; top: 0; bottom: 0; left: 0;"/>
							<label class="form-check-label" for="{{ name[0] }}" style="padding: 5px 10px; border: 1px solid slategrey; border-radius: 5px; width: 95%; margin: 5px 10px; line-height: 1.95;">
								{%- if loop.last -%}
									<div id="label" style="display: inline;">{{ name[1] }}</div>
									<input type="text" class="form-control form-control-sm w-100 text-center" id="{{ switcher.value.label.text }}" name="{{ switcher.value.label.text }}" placeholder="{{ __('New Name') }}" value="{{ switcher.value.data|default('', True) }}" style="display: none;" />
								{%- else -%}
									<div class="d-flex">
										<div class="w-100" style="display: inline;">{{ name[1] }}</div>
										<div style="display: inline; width: 60px; text-align: end;">
											<small>
												<a class="text-muted p-1" href="#" data-toggle="collapse" data-target="#edit-collapse-{{ name[0] }}" aria-expanded="true" aria-controls="edit-collapse-{{ name[0] }}"><span class="oi oi-pencil"></span></a>
												<a class="text-muted p-1" href="#" data-toggle="collapse" data-target="#delete-collapse-{{ name[0] }}" aria-expanded="true" aria-controls="delete-collapse-{{ name[0] }}"><span class="oi oi-x"></span></a>
											</small>
										</div>
									</div>
									<div id="group-collapse-{{ name[0] }}">
										<div class="collapse shadow-sm" id="edit-collapse-{{ name[0]}}" data-parent="#group-collapse-{{ name[0] }}">
											<div class="alert text-center p-0 mb-2" role="alert">
												<form id="updaterForm" method="post" actions="">
													{{ updater.csrf_token }}
													<input type="hidden" name="{{ updater.uid.label.text }}" value="{{ name[0] }}" />
													<input type="text" class="form-control form-control-sm w-100 text-center mb-2" id="{{ updater.value.label.text }}" name="{{ updater.value.label.text }}" placeholder="{{ __('New Name') }}" value="{{ name[1] }}" />
													<input type="submit" id="{{ updater.submit.label.text }}-{{ name[0] }}" name="{{ updater.submit.label.text }}" class="d-none" />
													<label class="btn btn-sm btn-outline-light mb-0" for="{{ updater.submit.label.text }}-{{ name[0] }}">{{ __('Update') }}</label>
													<a class="btn btn-sm btn-outline-light" href="#" data-toggle="collapse" data-target="#edit-collapse-{{ name[0] }}" aria-expanded="true" aria-controls="edit-collapse-{{ name[0] }}">{{ __('Cancel') }}</a>
												</form>
											</div>
										</div>
										<div class="collapse shadow-sm" id="delete-collapse-{{ name[0]}}" data-parent="#group-collapse-{{ name[0] }}">
											<div class="alert text-center p-0 mb-2" role="alert">
												<p class="mb-1"><small>{{ __('Do you really want to delete user?') }}</small></p>
												<a class="btn btn-sm btn-outline-light" href="{{ url_for('base.delete_name', uid=name[0]) }}">{{ __('Delete') }}</a>
												<a class="btn btn-sm btn-outline-light" href="#" data-toggle="collapse" data-target="#delete-collapse-{{ name[0] }}" aria-expanded="true" aria-controls="delete-collapse-{{ name[0] }}">{{ __('Cancel') }}</a>
											</div>
										</div>
									</div>
								{%- endif -%}
							</label>
						</div>
					{%- endfor -%}
				</div>
				<div class="col-12 text-center mt-3">
					<label for="{{ switcher.submit.label.text }}" class="mt-2 btn btn-outline-light btn-block mb-0">{{ __('Switch') }}</label>
				</div>
			</div>
		</form>
		<script type="text/javascript">
			$(window).on('load', function() {
				if ($("input[type=radio][name={{ switcher.name.label.text }}]").val() == "{{ switcher.name.choices[-1][0] }}") {
					$("#label").css("display", "none");
					$("#{{ switcher.value.label.text }}").css("display", "block");
					$("#{{ switcher.value.label.text }}").focus();
				}
			});
			$("input[type=radio][name={{ switcher.name.label.text }}]").on("change", function() {
				console.log($(this).val());
				switch ($(this).val()) {
					case "{{ switcher.name.choices[-1][0] }}":
						$("#label").css("display", "none");
						$("#{{ switcher.value.label.text }}").css("display", "block");
						$("#{{ switcher.value.label.text }}").focus();
						break;
					default:
						$("#label").css("display", "inline");
						$("#{{ switcher.value.label.text }}").css("display", "none");
						break;
				}
			});
		</script>	
	{%- else -%}
		<div class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-6">
			<p>{{ __('Please, sign in to switch user') }}</p>
			<a href="{{ url_for('base.sign_in') }}" class="mt-2 btn btn-outline-light btn-block">{{ __('Sign In') }}</a>
		</div>
	{%- endif -%}
{%- endblock -%}
