{%- extends "layout.html" -%}
{% set title -%}{{ __('Edit Examination') }}{%- endset %}
{%- block body_content -%}
	<h2 class="mt-3">{{ __('Edit Examination') }}</h2>
	<form method="post" actions="">
		{{ editor.csrf_token }}
		<div class="form-row">
			<div class="col-12 mb-2">
				<small>{{ __('Name') }}</small>
				<input type="text" class="form-control" id="editor_name" name="editor_name" placeholder="{{ __('Name') }}" value="{{ editor.editor_name.data }}" />
			</div>
			<div class="col-12 mb-2">
				<small>{{ __('Description') }}</small>
				<input type="text" class="form-control" id="editor_description" name="editor_description" placeholder="{{ __('Description') }}" value="{{ editor.editor_description.data }}" />
			</div>
			<div class="col-12 my-2">
				<button type="submit" class="btn btn-block btn-outline-dark">{{ __('Save') }}</button>
				<a href="{{ url_for('examination.get_examination', uid=uid, page_index=pagination.page_index, per_page=pagination.per_page) }}" class="btn btn-block btn-outline-dark">{{  __('Cancel') }}</a>
			</div>
		</div>
	</form>
{%- endblock -%}
